# Backend API
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001

# HashConnect Configuration
NEXT_PUBLIC_HASHCONNECT_PROJECT_ID=ef7d91a96244dc686b4efe026d364d7c #walletconnectid
NEXT_PUBLIC_APP_NAME=Hedarvest
NEXT_PUBLIC_APP_DESCRIPTION=Agricultural Investment Platform on Hedera
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Hedera Network
NEXT_PUBLIC_HEDERA_NETWORK=testnet
NEXT_PUBLIC_HEDERA_JSON_RPC_URL=https://testnet.hashio.io/api
NEXT_PUBLIC_CHAIN_ID=296

# Smart Contract Addresses (Hedera Testnet)
NEXT_PUBLIC_POOL_FACTORY_ADDRESS=0x811EF8ecDf2b9a15BF64F0225bbb3B0860B12Adb
NEXT_PUBLIC_ORACLE_ADDRESS=0x32344dEf5EA9Fa9b83962980C8d447dea81F3685
NEXT_PUBLIC_INTEREST_RATE_MODEL_ADDRESS=0x6C90077Ec6364F9aAab9C62EbE950f0653D2d588

# Crop Token IDs
NEXT_PUBLIC_WHEAT_TOKEN_ID=0.0.7121333
NEXT_PUBLIC_RICE_TOKEN_ID=0.0.7121334